.titleBOX{
    display: flex;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    max-width:100%;
    white-space:nowrap;
    font-family:Verdana,'Times New Roman', Times, serif;
}
.table{
    display: table;
    
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 50px;
    height: 50px;
    margin: auto;
}
.icon{
    width: 175px;
    height: 175px;
    padding-right: 20px;
    margin: auto;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.profile {  /* This will create the profile body/cell */
    max-width:500px; 
    margin:5px;  
    border:1px 
    solid gray; 
    border-radius:1em; 

}
.profileText{ /* Pretty obvious lmao*/
    display: table-cell;
    padding-left: 5px;
    max-width:100%;
    white-space:nowrap;
    text-align: left;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.image-cropper { /* This will make the profile icon*/
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  
  img { 
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
  .authenticated-container, .authenticated {
    display: none;
}